language: java
before_install:
- chmod +x mvnw
deploy:
  provider: heroku
  api_key:
    secure: "MqpHEJhul4/S/LZd5UydnXVDOOxkBfqLNCtVgPXgW7X6l3/d20QzQkKWI0nyzi9sIs6ih1pYC5aL6D09yGhEU4aC3V+rZBuvy7SBfQturXjhn2jFXuRTJEqd9HfnBn63UFS+sbVZTNqdQyJdK+0jdituEqh6MEQ+0/qSRXzQbI4OqAXY3znoQ4NBr60qBI74PlfK1w+r21/BHt2hkfC24UoARFyzE1z5UjfG3cWHh0VVooGqYcqdU+/kz4oBXcZ3G+XV25XbQxdB+xAbuS9Gk+r4bbhllUoSbcdgi1Xay58GNdRYLV3srM3MzSS0Ovw77hMw39aMHEYYl1h7kWqBFTKkJyKVkU9oncDNDhVxYO1Ih7Dn7Vlf8aa+Uah4qRkv0CpI/tmkKTsQydOMWN5kZeauurKiD3adae6SXBOOnWEEa9eHIj7T5J3KgGBqu5zNfltfz3zP5eVwDLVeb2NpwnYVqgwSthNdVL8t0VaVDBUk+JU3wMCeAxYLWGoz8SS2y+yEh9eP/KOklg4MUdcXmF1HMBakT6SYgq6vSmCpwX0YiQL6lygjYGQrgJwFVxnQ+h0O+46KUqfPl1+HovzxubIC2kTiJqPdIVQr2OE59ldEp5xmkzwjm25yq8rfj7DjmVE4G8tkUwSA3GjU3HOeTfeE+9D00Yyhbz+4Z6IagDg="
