.Board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Board-greeting {
  font-style: italic;
}

.EmptyBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EmptyBoard button {
  margin-top: 20px;
}

.Board-wrapper {
  display: grid;
}