.App-auth {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 400px;
    width: 50vw;
}

.App-auth input + label {
    margin-top: 16px;
}

.App-auth label + input {
    margin-top: 8px;
}

.App-auth input {
    height: 40px;
}