.App-auth {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 400px;
    width: 50vw;
}

.App-auth label + input {
    margin-top: 8px;
}

.App-auth input {
    height: 40px;
}

.Auth-controls {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Auth-controls button {
    padding: 12px;
}