@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap&subset=cyrillic,cyrillic-ext');

html, body, #root {
  height: 100vh;
  font-family: 'IBM Plex Sans', 'Ubuntu', Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  background:  #bbdefb;
  color: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: border-box;
}
