name: Build and deploy Spring Application to Heroku

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Test with Maven
        run: mvn test
        env:
          SPRING_DATASOURCE_URL: ${{ secrets.DataSourceUrl }}
          SPRING_DATASOURCE_USERNAME: ${{ secrets.DataSourceUser }}
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.DataSourcePass }}

      login:
        name: Login into Heroku
        uses: actions/heroku@master
        with:
          args: container:login
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          HEROKU_APP: ${{ secrets.HEROKU_APP }}

      push:
        name: Push to Heroku
        needs: login
        uses: actions/heroku@master
        with:
          args: container:push web
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
          HEROKU_APP: "on-meeting"

        - name: Trigger release in Heroku
          needs: push
          uses: actions/heroku@master
          with:
            args: container:release web
          env:
            HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
            HEROKU_APP: "on-meeting"
