name: Build and test Spring Application

on:
  push:
    branches-ignore: master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Test with Maven
        run: mvn test
        env:
          SPRING_DATASOURCE_URL: ${{ secrets.DataSourceUrl }}
          SPRING_DATASOURCE_USERNAME: ${{ secrets.DataSourceUser }}
          SPRING_DATASOURCE_PASSWORD: ${{ secrets.DataSourcePass }}
